body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #22272e;
}

.card {
    width: 472px;
    height: 398px;
    background: #22272e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#github-title {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

#token-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 90%;
    text-align: center;
}

#access-token {
    width: 200%;
    height: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

#save-button {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #504099;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

#reportBugButton {
    width: 85px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #504099;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
}

#save-button:hover {
    background: #fff;
    color: #504099;
}

#reportBugButton:hover {
    background: #fff;
    color: #504099;
}

#result {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin: 20px;
}

#result a {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}


#result a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}

.text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.text a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.text a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}

.developer {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

#access-token {
    width: 93%;
    height: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

#token-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    width: inherit;
}
#togglePassword {
    position: relative;
    left: 90%;
    top: -37px;
    cursor: pointer;
}